<form action="<% users_url %>" method="POST">
	<label> Email: 
	<input type="text" name="user[email]" value="Email">
	<br>
	<label> Password: 
	<input type="password" name="user[password]" value="">

    <input type="submit" value="Submit">
</form>